* {
    box-sizing: border-box;
}
body {
    background-color: #110038;
}

$color-button: #f7c9f3;
$fontFamily: "Chakra Petch", sans-serif;
$gradient: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);

.bar {
    background-image: $gradient;
    box-shadow: 0 1px 0 0 #110038;
    font-family: $fontFamily;
    font-size: 12px;
    color: #ffffff;
}

.search {
    width: 1200px;
    background-color: #e6e6e6;
    padding-bottom: 12px;
    margin-left: 100px;
    margin-right: 140px;
    p {
        background-image: $gradient;
    }
    input {
        width: 90%;
        margin-left: 15px;
    }
}

.wrapperSugestions {
    display: grid;
    grid-template-columns: repeat(4, 21%);
    gap: 20px 20px;
    justify-content: center;
}

.sectionTitle {
    font-family: $fontFamily;
    font-size: 14px;
    display: flex;
    padding: 7px;
    margin: 64px 140px 19px 100px;
    width: 1200px;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.wrapperTrend {
    display: grid;
    grid-template-columns: repeat(4, 21%);
    grid-template-rows: 33% 33% 33%;
    gap: 10px 20px;
    justify-content: center;
}

.gifFrame {
    display: flex;
    justify-content: center;
    width: 288px;
    height: 313px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    position: relative;
    z-index: 1;

    figcaption {
        width: 280px;
        height: 24px;
        margin-top: 3px;
        margin-bottom: 2px;
        background-image: $gradient;
    }
    figure {
        margin: 0px;
        position: absolute;
        z-index: 2;
    }
    img {
        width: 280px;
        height: 280px;
        position: absolute;
        z-index: 3;
    }
    .close {
        width: 16px;
        height: 14px;
    }
    button {
        font-family: $fontFamily;
        font-size: 14px;
        background-color: #4180f6;
        border: 1px solid #4c2f99;
        box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
        width: 81px;
        height: 34px;
        position: absolute;
        margin-top: 231px;
        margin-left: 11px;
        z-index: 4;
    }
}
.gifTrend {
    display: flex;
    justify-content: center;
    width: 286px;
    height: 298px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    z-index: 1;
    figure {
        margin: 0px;
        z-index: 2;
    }
    img {
        height: 298px;
    }
}

.span {
    width: 560px;
    grid-column: span 2;
    grid-column-start: span 2;
    grid-column-end: auto;
}
