* {
  box-sizing: border-box; }

.bar {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  box-shadow: 0 1px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-size: 12px;
  color: #ffffff; }

.search {
  display: grid;
  grid-template-columns: 90% 10%;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  width: 1200px;
  background-color: #e6e6e6;
  padding-bottom: 12px;
  margin-left: 100px;
  margin-right: 130px;
  margin-top: 16px; }
  .search p {
    width: 1200px;
    margin-top: 0px;
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%); }
  .search input {
    margin-left: 15px;
    grid-row: 2;
    width: 98%; }
  .search img {
    width: 16px;
    height: 16px;
    padding: 10px; }
  .search button {
    grid-row: 2;
    width: 102px;
    height: 36px; }
    .search button span {
      padding: 9px 14px 9px 0px; }

.wrapperSugestions {
  display: grid;
  grid-template-columns: repeat(4, 21%);
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center; }

.sectionTitle {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  display: flex;
  padding: 7px;
  margin: 64px 140px 19px 100px;
  width: 1200px;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d; }

.wrapperTrend {
  display: grid;
  grid-template-columns: repeat(4, 21%);
  grid-template-rows: repeat(3, 32%);
  column-gap: 16px;
  row-gap: 16px;
  justify-content: center; }

.gifFrame {
  display: flex;
  justify-content: center;
  width: 286px;
  height: 298px;
  height: 313px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  position: relative;
  z-index: 1; }
  .gifFrame figcaption {
    width: 280px;
    height: 24px;
    margin-top: 3px;
    margin-bottom: 2px;
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    font-family: "Chakra Petch", sans-serif;
    color: #ffffff;
    font-size: 14px; }
  .gifFrame figure {
    width: 286px;
    height: 298px;
    margin: 0px;
    position: absolute;
    z-index: 2; }
  .gifFrame img {
    width: 280px;
    height: 280px;
    position: absolute;
    z-index: 3; }
  .gifFrame .close {
    width: 16px;
    height: 14px; }
  .gifFrame button {
    font-family: "Chakra Petch", sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
    width: 81px;
    height: 34px;
    position: absolute;
    margin-top: 231px;
    margin-left: 11px;
    z-index: 4; }

.gifTrend {
  display: flex;
  justify-content: end;
  width: 286px;
  height: 298px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  z-index: 1; }
  .gifTrend figure {
    width: 286px;
    height: 298px;
    margin: 0px;
    z-index: 2; }

.span {
  width: 582px;
  grid-column: span 2;
  grid-column-start: span 2;
  grid-column-end: auto; }
  .span img {
    width: 582px; }
  .span figure {
    width: 582px; }

/*# sourceMappingURL=style.css.map */
