* {
    box-sizing: border-box;
}

$color-button: #f7c9f3;

.bar {
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    box-shadow: 0 1px 0 0 #110038;
    font-family: "Chakra Petch", sans-serif;
    font-size: 12px;
    color: #ffffff;
}

.button_bar {
    display: flex;
    justify-content: space-between;
    img {
        margin: 35px 0 0 91px;
    }
    button {
        width: 144px;
        height: 36px;
        margin: 44px 0 0 16px;
        background-color: $color-button;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
    .dropdown {
        margin-left: -4px;
        width: 36px;
        height: 36px;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
    .special {
        border: none;
        background-color: #ffffff;
        margin-left: 16.5px;
        margin-right: 140.5px;
        box-shadow: none;
    }
}

.search {
    width: 1200px;
    background-color: #e6e6e6;
    padding-bottom: 12px;
    margin-left: 100px;
    margin-right: 140px;
    p {
        background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    }
    input {
        width: 90%;
        margin-left: 15px;
    }
}

.wrapperSugestions {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 20px;
    justify-content: center;
}

.sectionTitle {
    font-family: "Chakra Petch", sans-serif;
    font-size: 14px;
    display: flex;
    padding: 7px;
    margin: 64px 140px 19px 100px;
    width: 1200px;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.wrapperTrend {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 33% 33% 33%;
    column-gap: 20px;
    row-gap: 11px;
    justify-content: center;
}

.gifFrame {
    display: flex;
    justify-content: center;
    width: 288px;
    height: 313px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    position: relative;
    z-index: 1;

    figcaption {
        width: 280px;
        height: 24px;
        margin-top: 3px;
        margin-bottom: 2px;
        background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    }
    figure {
        margin: 0px;
        position: absolute;
        z-index: 2;
    }
    img {
        width: 280px;
        height: 280px;
        position: absolute;
        z-index: 3;
    }
    .close {
        width: 16px;
        height: 14px;
    }
    button {
        font-family: "Chakra Petch", sans-serif;
        font-size: 14px;
        background-color: #4180f6;
        border: 1px solid #4c2f99;
        box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
        width: 81px;
        height: 34px;
        position: absolute;
        margin-top: 231px;
        margin-left: 11px;
        z-index: 4;
    }
}
