* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Chakra Petch", sans-serif;
}

.button_bar img {
  margin: 35px 0 0 91px;
}

.button_bar button {
  font-family: "Chakra Petch", sans-serif;
  width: 131px;
  height: 36px;
  margin: 44px 0 0 16px;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.button_bar .goDown {
  font-family: "Chakra Petch", sans-serif;
  margin-left: -4px;
  width: 36px;
  height: 36px;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.button_bar .special {
  border: none;
  background-color: #ffffff;
  color: #000000;
  margin-left: 16.5px;
  margin-right: 75px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

.button_bar .special span {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.themeSelector {
  font-family: "Chakra Petch", sans-serif;
  display: none;
  position: absolute;
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
  width: 170px;
  height: 102px;
}

.themeSelector a {
  text-decoration: none;
  color: #000000;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  min-width: 150px;
  height: 36px;
  background: #cccccc;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

.show {
  margin-left: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50%;
      grid-template-rows: 50%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-column-gap: 2px;
          column-gap: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.day {
  padding: 7px 56px 7px 16px;
}

.nigth {
  padding: 7px 40px 7px 16px;
  margin-top: 5px;
}

.nigth:hover {
  color: #ffffff;
  background: #2E32FB;
  border: 1px solid rgba(51, 53, 143, 0.2);
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.nigth:hover span {
  text-decoration: underline;
}

.day:hover {
  color: #ffffff;
  background: #2E32FB;
  border: 1px solid rgba(51, 53, 143, 0.2);
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.day:hover span {
  text-decoration: underline;
}

.bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-size: 12px;
  color: #ffffff;
}

.search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10%;
      grid-template-columns: 90% 10%;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  width: 1200px;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  padding-bottom: 12px;
  margin-left: 75px;
  margin-right: 130px;
  margin-top: 16px;
}

.search p {
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  padding-left: 6px;
  padding-top: 4px;
  width: 1200px;
  height: 24px;
  margin-top: 0px;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  -webkit-box-shadow: inset 2px 2px 0 0 #ffffff;
          box-shadow: inset 2px 2px 0 0 #ffffff;
}

.search input {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  margin-left: 15px;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 98%;
}

.search input:active {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

.search img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.search button {
  -ms-grid-row: 2;
  grid-row: 2;
  width: 102px;
  height: 36px;
}

.search button span {
  padding: 9px 14px 9px 0px;
}

.btnGoCreate:hover {
  padding: 2px;
  background: #e6bbe2;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  outline: 1px #110038 dotted;
  outline-offset: -6px;
}

#searchSuggestions {
  display: none;
  gap: 10px;
  width: 1200px;
  height: 160px;
  padding-top: 16px;
  padding-right: 127px;
  padding-bottom: 16px;
  background-color: #e6e6e6;
  margin-left: 75px;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

#searchSuggestions div {
  margin-left: 15px;
  width: 1052px;
  height: 36px;
  background: #dbdbdb;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

#showSearchSuggestions {
  display: none;
}

#showHashtags {
  display: none;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  gap: 8px;
  margin-top: 8px;
  margin-left: 75px;
}

#showHashtags div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100px;
  height: 34px;
  background-color: #4180f6;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
}

#showHashtags div span {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 18px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrapperSugestions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (288px)[4];
      grid-template-columns: repeat(4, 288px);
  -ms-grid-rows: (313px)[1];
      grid-template-rows: repeat(1, 313px);
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionTitle {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  padding: 7px;
  margin: 64px auto 19px 75px;
  width: 1195px;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.wrapperTrend {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (286px)[4];
      grid-template-columns: repeat(4, 286px);
  -ms-grid-rows: (298px)[3];
      grid-template-rows: repeat(3, 298px);
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gifFrame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 286px;
  height: 298px;
  height: 313px;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  position: relative;
  z-index: 1;
}

.gifFrame figcaption {
  width: 280px;
  height: 24px;
  margin-top: 3px;
  margin-bottom: 2px;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  font-family: "Chakra Petch", sans-serif;
  color: #ffffff;
  font-size: 14px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.gifFrame figure {
  width: 286px;
  height: 289px;
  margin: 0px;
  position: absolute;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 24px 289px;
      grid-template-rows: 24px 289px;
  gap: 5px;
}

.gifFrame img {
  width: 280px;
  height: 280px;
  position: absolute;
  z-index: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.gifFrame .close {
  width: 16px;
  height: 14px;
}

.gifFrame button {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #4180f6;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  width: 81px;
  height: 34px;
  position: absolute;
  margin-top: 260px;
  margin-left: 11px;
  z-index: 4;
}

.trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gifTrend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 286px;
  height: 298px;
  z-index: 1;
}

.gifTrend figure {
  width: 288px;
  height: 298px;
  margin: 0px;
  z-index: 2;
}

.gifTrend figcaption {
  display: none;
}

.gifTrend figure:hover {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 274px 24px;
      grid-template-rows: 274px 24px;
  background-color: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  padding: 4px;
  width: 294px;
  height: 304px;
  outline: 1px #110038 dotted;
  outline-offset: -4px;
}

.gifTrend figure:hover figcaption {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 286px;
  height: 22px;
  margin: 0px;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  font-family: "Chakra Petch", sans-serif;
  color: #ffffff;
  font-size: 14px;
  z-index: 5;
  -ms-grid-column-align: center;
      justify-self: center;
}

.gifTrend figure:hover img {
  width: 286px;
  height: 296px;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 4;
  -ms-grid-column-align: center;
      justify-self: center;
}

.gifTrend img {
  width: 286px;
  height: 296px;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 4;
}

.wideGif:hover figure {
  padding: 2px 0 0 0;
}

.wideGif {
  width: 586px;
  grid-column: span 2;
}

.wideGif img {
  width: 582px;
}

.wideGif figure {
  width: 582px;
  height: 298px;
}

.wideGif figure:hover {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 274px 24px;
      grid-template-rows: 274px 24px;
  background-color: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 586px;
  height: 304px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px dotted #110038;
}

.wideGif figure:hover figcaption {
  -ms-grid-row: 2;
  grid-row: 2;
  width: 582px;
  height: 24px;
  margin: 0px;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  font-family: "Chakra Petch", sans-serif;
  color: #ffffff;
  font-size: 14px;
  z-index: 5;
  -ms-grid-column-align: center;
      justify-self: center;
}

.wideGif figure:hover img {
  width: 580px;
  height: 298px;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 4;
  -ms-grid-column-align: center;
      justify-self: center;
}

.sectionMisGuifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperMyGifs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (288px)[4];
      grid-template-columns: repeat(4, 288px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 16px;
}

.myGifos {
  width: 280px;
  height: 280px;
  background-color: #80687d;
}

.createGif {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100%)[1];
      grid-template-columns: repeat(1, 100%);
  -ms-grid-rows: 10% 15%;
      grid-template-rows: 10% 15%;
  width: 684px;
  height: 386px;
  background-color: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.createGif .titleBar {
  -ms-grid-column-align: start;
      justify-self: start;
  background-image: -webkit-gradient(linear, right top, left top, from(#f7c9f3), to(#4180f6));
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  margin-top: 1px;
  margin-left: 3px;
  padding-left: 7px;
  padding-top: 6.4px;
  width: 678px;
  height: 24px;
}

.createGif .titleBar p {
  margin: 0px;
  font-family: "Chakra Petch";
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}

.instructionsTitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.instructionsTitle img {
  width: 32px;
  height: 32px;
  margin-left: 25px;
  margin-right: 16px;
  margin-top: 10px;
}

.instructionsTitle h3 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.instructions {
  width: 518px;
  height: 190px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-right: 93px;
  margin-left: 73px;
}

.instructions h6 {
  margin: 0px;
  font-family: "Chakra Petch";
  font-weight: normal;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
}

.instructions span {
  font-weight: bold;
}

.instructions .italic {
  font-style: italic;
}

.createBtnBar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (228px)[3];
      grid-template-columns: repeat(3, 228px);
  gap: 16px;
}

.createBtnBar .button {
  font-family: "Chakra Petch", sans-serif;
  width: 131px;
  height: 36px;
  margin: 44px 0 0 16px;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.createBtnBar .btnCreateGifsCancell {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 144px;
  height: 36px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background: #fff4fd;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
}

.createBtnBar .btnCreateGifsStart {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 144px;
  height: 36px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  background: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
}

#createHeader #arrow {
  margin-left: 60px;
  margin-top: 55px;
  width: 24px;
  height: 24px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

#createHeader #logo {
  margin-top: 35px;
  margin-bottom: 75px;
  width: 102.6px;
  height: 64px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#createHeader div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6.5% 10%;
      grid-template-columns: 6.5% 10%;
  gap: 7px;
}
/*# sourceMappingURL=style.css.map */