* {
    box-sizing: border-box;
}

$color-button: #f7c9f3;
$fontFamily: "Chakra Petch", sans-serif;
$gradient: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
$boxShadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
@import "dropdownDay";

//Barra superior
.bar {
    background-image: $gradient;
    box-shadow: 0 1px 0 0 #110038;
    font-family: $fontFamily;
    font-size: 12px;
    color: #ffffff;
}

//Seccion busqueda
.search {
    display: grid;
    grid-template-columns: 90% 10%;
    font-family: $fontFamily;
    font-size: 16px;
    width: 1200px;
    background: #e6e6e6;
    box-shadow: $boxShadow;
    padding-bottom: 12px;
    margin-left: 75px;
    margin-right: 130px;
    margin-top: 16px;
    p {
        font-family: "Chakra Petch", sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 0;
        padding-left: 6px;
        padding-top: 4px;
        width: 1200px;
        height: 24px;
        margin-top: 0px;
        background-image: $gradient;
        box-shadow: inset 2px 2px 0 0 #ffffff;
    }
    input {
        background: #ffffff;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
        margin-left: 15px;
        grid-row: 2;
        width: 98%;
    }
    input:active {
        background: #ffffff;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    }
    img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
    button {
        grid-row: 2;
        width: 102px;
        height: 36px;
        span {
            padding: 9px 14px 9px 0px;
        }
    }
}

//Boton crear Guifos
.btnGoCreate:hover {
    padding: 2px;
    background: #e6bbe2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    outline: 1px #110038 dotted;
    outline-offset: -6px;
}
.btnGoCreate:active {
    background-color: #e6bbe2;
    outline: 1px #110038 dotted;
    outline-offset: -6px;
}


//Estilos de las sugerencias de busqueda
#searchSuggestions {
    display: none;
    gap: 10px;
    width: 1200px;
    height: 160px;
    padding-top: 16px;
    padding-right: 127px;
    padding-bottom: 16px;
    background-color: #e6e6e6;
    margin-left: 75px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    div {
        margin-left: 15px;
        width: 1052px;
        height: 36px;
        background: #dbdbdb;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
    }
}
#showSearchSuggestions {
    display: none;
}
#showHashtags {
    display: none;
    grid-template-columns: repeat(3, 100px);
    gap: 8px;
    margin-top: 8px;
    margin-left: 75px;
    div {
        display: flex;
        flex-direction: row;
        width: 100px;
        height: 34px;
        background-color: #4180f6;
        border: 1px solid #4c2f99;
        box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
        span {
            font-family: "Chakra Petch", sans-serif;
            font-size: 14px;
            color: #ffffff;
            letter-spacing: 0;
            line-height: 18px;
            justify-self: center;
            align-self: center;
        }
    }
}


//Seccion hoy te sugerimos
.wrapperSugestions {
    display: grid;
    grid-template-columns: repeat(4, 288px);
    grid-template-rows: repeat(1, 313px);
    gap: 16px;
    justify-content: center;
}

.sectionTitle {
    font-family: $fontFamily;
    font-size: 14px;
    display: flex;
    justify-self: center;
    padding: 7px;
    margin: 64px auto 19px 75px;
    width: 1195px;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}


//Seccion tendencias
.wrapperTrend {
    display: grid;
    grid-template-columns: repeat(4, 286px);
    grid-template-rows: repeat(3, 298px);
    gap: 16px;
    justify-content: center;
}

.gifFrame {
    display: flex;
    justify-content: center;
    width: 286px;
    height: 298px;
    height: 313px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    position: relative;
    z-index: 1;

    figcaption {
        width: 280px;
        height: 24px;
        margin-top: 3px;
        margin-bottom: 2px;
        background-image: $gradient;
        font-family: $fontFamily;
        color: #ffffff;
        font-size: 14px;
        grid-row: 1;
        justify-self: center;
    }
    figure {
        width: 286px;
        height: 289px;
        margin: 0px;
        position: absolute;
        z-index: 2;
        display: grid;
        grid-template-rows: 24px 289px;
        gap: 5px;
    }
    img {
        width: 280px;
        height: 280px;
        position: absolute;
        z-index: 3;
        grid-row: 2;
        justify-self: center;
    }
    .close {
        justify-self: end;
        height: 16px;
        margin: 0;
        width: 16px;
        grid-row: 1;
        z-index: 5;
        margin: 7px;
    }
    button {
        font-family: $fontFamily;
        font-size: 14px;
        color: #ffffff;
        background-color: #4180f6;
        border: 1px solid #4c2f99;
        box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
        width: 81px;
        height: 34px;
        position: absolute;
        margin-top: 260px;
        margin-left: 11px;
        z-index: 4;
    }
}
.trending {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gifTrend {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 286px;
    height: 298px;
    z-index: 1;
    figure {
        width: 288px;
        height: 298px;
        margin: 0px;
        z-index: 2;
    }
    figcaption {
        display: none;
    }
    figure:hover {
        display: grid;
        grid-template-rows: 274px 24px;
        background-color: #e6e6e6;
        box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
        padding: 4px;
        width: 294px;
        height: 304px;
        outline: 1px #110038 dotted;
        outline-offset: -4px;
        figcaption {
            display: grid;
            grid-row: 2;
            width: 286px;
            height: 22px;
            margin: 0px;
            background-image: $gradient;
            font-family: $fontFamily;
            color: #ffffff;
            font-size: 14px;
            z-index: 5;
            justify-self: center;
        }
        img {
            width: 286px;
            height: 296px;
            grid-row: 1;
            z-index: 4;
            justify-self: center;
        }
    }
    img {
        width: 286px;
        height: 296px;
        grid-row: 1;
        z-index: 4;
    }
}
.wideGif {
    width: 586px;
    grid-column: span 2;
    img {
        width: 582px;
    }
    figure {
        width: 582px;
        height: 298px;
    }
    figure:hover {
        display: grid;
        grid-template-rows: 274px 24px;
        width: 587px;
        height: 304px;
        background-color: #e6e6e6;
        box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
        outline: 1px #110038 dotted;
        outline-offset: -4px;
        figcaption {
            grid-row: 2;
            width: 578px;
            height: 22px;
            margin: 0px;
            background-image: $gradient;
            font-family: $fontFamily;
            color: #ffffff;
            font-size: 14px;
            z-index: 5;
            align-self: normal;
        }
        img {
            width: 578px;
            height: 286px;
            grid-row: 1;
            z-index: 4;
            align-self: baseline;
        }
    }
}

//Seccion Mis guifos
.sectionMisGuifos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperMyGifs {
    display: grid;
    grid-template-columns: repeat(4, 288px);
    grid-template-rows: auto;
    gap: 16px;
}
.myGifos {
    width: 280px;
    height: 280px;
    background-color: #80687d;
}

.createGif {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 10% 15%;
    width: 684px;
    height: 386px;
    background-color: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    .titleBar {
        justify-self: start;
        background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
        margin-top: 1px;
        margin-left: 3px;
        padding-left: 7px;
        padding-top: 6.4px;
        width: 678px;
        height: 24px;
        p {
            margin: 0px;
            font-family: "Chakra Petch";
            font-weight: bold;
            font-size: 14px;
            color: #ffffff;
            letter-spacing: 0;
        }
    }
}
.instructionsTitle {
    img {
        width: 32px;
        height: 32px;
        margin-left: 25px;
        margin-right: 16px;
        margin-top: 10px;
    }
    display: inline-flex;
    h3 {
        font-family: "Chakra Petch", sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
    }
}
.instructions {
    width: 518px;
    height: 190px;
    display: grid;
    grid-template-rows: auto;
    margin-right: 93px;
    margin-left: 73px;
    h6 {
        margin: 0px;
        font-family: "Chakra Petch";
        font-weight: normal;
        font-size: 14px;
        color: #110038;
        letter-spacing: 0;
        line-height: 20px;
    }
    span {
        font-weight: bold;
    }
    .italic {
        font-style: italic;
    }
}
.createBtnBar {
    display: grid;
    grid-template-columns: repeat(3, 228px);
    gap: 16px;
    .button {
        font-family: $fontFamily;
        width: 131px;
        height: 36px;
        margin: 44px 0 0 16px;
        background-color: $color-button;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
    .btnCreateGifsCancell {
        justify-self: end;
        align-self: center;
        width: 144px;
        height: 36px;
        grid-column: 2/3;
        background: #fff4fd;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        font-family: $fontFamily;
    }
    .btnCreateGifsStart {
        justify-self: start;
        align-self: center;
        width: 144px;
        height: 36px;
        grid-column: 3/4;
        background: #f7c9f3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        font-family: $fontFamily;
    }
}
#createHeader {
    #arrow {
        margin-left: 60px;
        margin-top: 55px;
        width: 24px;
        height: 24px;
        grid-column: 1/2;
    }
    #logo {
        margin-top: 35px;
        margin-bottom: 75px;
        width: 102.6px;
        height: 64px;
        grid-column: 2/3;
    }
    div {
        display: grid;
        grid-template-columns: 6.5% 10%;
        gap: 7px;
    }
}

//Video
.recordGif {
    display: grid;
    grid-template-rows: 24px 451px 73px;
    width: 860px;
    height: 548px;
    background-color: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    .titleBar {
        justify-self: start;
        background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
        margin-top: 1px;
        margin-left: 3px;
        padding-left: 7px;
        padding-top: 6.4px;
        width: 855px;
        height: 24px;
        p {
            margin: 0px;
            font-family: "Chakra Petch";
            font-weight: bold;
            font-size: 14px;
            color: #ffffff;
            letter-spacing: 0;
        }
    }
}
.preview {
    margin-left: 8px;
    margin-top: 8px;
    video {
        width: 832px;
        height: 434px;
        background: #ffffff;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    }
}

#recordContainer{
    display: none;
}

.recordBtns {
    display: grid;
    grid-template-columns: 700px 160px;
    .btnCamera {
        display: grid;
        grid-column: 1;
        justify-self: right;
        width: 36px;
        height: 36px;
        margin-top: 21px;
        background: #f7c9f3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        img {
            width: 18px;
            height: 16.5px;
            margin-top: 8px;
            margin-left: 2px;
        }
    }
    .btnCapture {
        display: grid;
        grid-column: 2;
        justify-self: left;
        font-family: $fontFamily;
        font-size: 16px;
        color: #000000;
        width: 144px;
        height: 36px;
        padding-top: 9px;
        margin-top: 21px;
        background: #f7c9f3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }

    .btnImgRecording {
        display: none;
        grid-column: 1;
        justify-self: right;
        width: 36px;
        height: 36px;
        background: #ff6161;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
        margin-top: 21px;
        img {
            margin-left: 2px;
            margin-top: 8px;
            width: 18px;
            height: 16.5px;
            
        }
    }
    .btnRecording {
        display: none;
        font-family: $fontFamily;
        font-size: 16px;
        grid-column: 2;
        justify-self: left;
        width: 144px;
        height: 36px;
        padding-top: 9px;
        margin-top: 21px;
        background: #ff6161;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
        color: #ffffff;
    }
}
