//Seccion busqueda
.search {
    display: grid;
    grid-template-columns: 90% 10%;
    font-family: $fontFamily;
    font-size: 16px;
    width: 1200px;
    background: #e6e6e6;
    box-shadow: $boxShadow;
    padding-bottom: 12px;
    margin-left: 75px;
    margin-right: 130px;
    margin-top: 16px;
    p {
        font-family: "Chakra Petch", sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 0;
        padding-left: 6px;
        padding-top: 4px;
        width: 1200px;
        height: 24px;
        margin-top: 0px;
        background-image: $gradient;
        box-shadow: inset 2px 2px 0 0 #ffffff;
    }
    input {
        background: #ffffff;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
        margin-left: 15px;
        grid-row: 2;
        width: 98%;
    }
    input:active {
        background: #ffffff;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    }
    img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
    button {
        grid-row: 2;
        width: 102px;
        height: 36px;
        span {
            padding: 9px 14px 9px 0px;
        }
    }
}

//Estilos de las sugerencias de busqueda
#searchSuggestions {
    display: none;
    gap: 10px;
    width: 1200px;
    height: 160px;
    padding-top: 16px;
    padding-right: 127px;
    padding-bottom: 16px;
    background-color: #e6e6e6;
    margin-left: 75px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    div {
        margin-left: 15px;
        width: 1052px;
        height: 36px;
        background: #dbdbdb;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
    }
}
#showSearchSuggestions {
    display: none;
}
#showHashtags {
    display: none;
    grid-template-columns: repeat(3, 100px);
    gap: 8px;
    margin-top: 8px;
    margin-left: 75px;
    div {
        display: flex;
        flex-direction: row;
        width: 100px;
        height: 34px;
        background-color: #4180f6;
        border: 1px solid #4c2f99;
        box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
        span {
            font-family: "Chakra Petch", sans-serif;
            font-size: 14px;
            color: #ffffff;
            letter-spacing: 0;
            line-height: 18px;
            justify-self: center;
            align-self: center;
        }
    }
}

