.button_bar {
    display: flex;
    justify-content: space-between;
    font-family: $fontFamily;
    img {
        margin: 35px 0 0 91px;
    }
    button {
        font-family: $fontFamily;
        width: 131px;
        height: 36px;
        margin: 44px 0 0 16px;
        background-color: $color-button;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
    button:hover {
        background: #e6bbe2;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        padding: 2px;
        border: 1px solid #110038;
        outline: 1px #110038 dotted;
        outline-offset: -6px;
    }

    .goDown {
        font-family: $fontFamily;
        margin-left: -4px;
        width: 36px;
        height: 36px;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
    .special {
        border: none;
        background-color: #fbeffa;
        color: #000000;
        margin-left: 16.5px;
        margin-right: 70px;
        width: 131px;
        height: 36px;
        box-shadow: none;
        text-decoration: none;
        span {
            text-decoration: underline;
        }
    }
    .special:hover {
        outline: 1px #110038 dotted;
        outline-offset: 6px;
    }
    .special:active {
        color: #11003865;
        outline: none;
    }
}
.dropdown {
    position: relative;
    display: inline-block;
}

.themeSelector {
    font-family: $fontFamily;
    display: none;
    position: absolute;
    background-color: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
    width: 167px;
    height: 102px;

    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;

    a {
        text-decoration: none;
        color: #000000;
        font-family: $fontFamily;
        font-size: 16px;
        min-width: 150px;
        height: 36px;
        background-color: #f0f0f0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
    }
    a:active {
        color: #110038;
        background-color: #fff4fd;
        border: 1px solid #cca6c9;
        box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
    }
}

.day {
    padding: 7px 56px 7px 16px;
}


.nigth {
    padding: 7px 40px 7px 16px;
    margin-top: 5px;
}


.nigth:hover {
    color: #ffffff;
    background: #2e32fb;
    border: 1px solid rgba(51, 53, 143, 0.2);
    box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
    span {
        text-decoration: underline;
    }
}

.day:hover {
    color: #ffffff;
    background: #2e32fb;
    border: 1px solid rgba(51, 53, 143, 0.2);
    box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
    span {
        text-decoration: underline;
    }
}
.show {
    margin-left: 16px;
    display: grid;
    grid-template-rows: 50%;
    grid-template-columns: 100%;
    column-gap: 2px;
    justify-content: center;
    padding: 10px;
}

//Boton crear Guifos
.btnGoCreate:hover {
    padding: 2px;
    background: #e6bbe2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    outline: 1px #110038 dotted;
    outline-offset: -6px;
}
.btnGoCreate:active {
    background-color: #e6bbe2;
    outline: 1px #110038 dotted;
    outline-offset: -6px;
}