#createHeader {
    #arrow {
        margin-left: 60px;
        margin-top: 55px;
        width: 24px;
        height: 24px;
        grid-column: 1/2;
    }
    #logo {
        margin-top: 35px;
        margin-bottom: 75px;
        width: 102.6px;
        height: 64px;
        grid-column: 2/3;
    }
    div {
        display: grid;
        grid-template-columns: 6.5% 10%;
        gap: 7px;
    }
}
.createGif {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 10% 15%;
    width: 684px;
    height: 386px;
    background: #b4b4b4;
    box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}
.titleBar {
    justify-self: start;
    background-image: $gradient;
    margin-top: 1px;
    margin-left: 3px;
    padding-left: 7px;
    padding-top: 3.4px;
    width: 678px;
    height: 24px;
    p {
        margin: 0px;
        font-family: "Chakra Petch";
        font-weight: bold;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 0;
    }
}
.instructionsTitle {
    img {
        width: 32px;
        height: 32px;
        margin-left: 25px;
        margin-right: 16px;
        margin-top: 10px;
    }
    display: inline-flex;
    h3 {
        font-family: "Chakra Petch", sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
    }
}
.instructions {
    width: 518px;
    height: 190px;
    display: grid;
    grid-template-rows: auto;
    margin-right: 93px;
    margin-left: 73px;
    h6 {
        margin: 0px;
        font-family: "Chakra Petch";
        font-weight: normal;
        font-size: 14px;
        color: #110038;
        letter-spacing: 0;
        line-height: 20px;
    }
    span {
        font-weight: bold;
    }
}
.italic {
    font-style: italic;
}
//Video
.recordGif {
    display: grid;
    grid-template-rows: 24px 451px 73px;
    width: 860px;
    height: 548px;
    background: #b4b4b4;
    box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}
.titleBarWide {
    justify-self: start;
    background-image: $gradient;
    margin-top: 1px;
    margin-left: 3px;
    padding-left: 7px;
    padding-top: 3.4px;
    width: 855px;
    height: 24px;
    p {
        margin: 0px;
        font-family: $fontFamily;
        font-weight: bold;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 0;
    }
}
.preview {
    margin-left: 8px;
    margin-top: 8px;
    background: #ffffff;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    width: 832px;
    height: 434px;
    video {
        width: 832px;
        height: 434px;
        background: #ffffff;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    }
    img {
        height: 428px;
        width: 826px;
        margin: 2px;
    }
}

#recordContainer {
    display: block;
}

.recordBtns {
    display: grid;
    grid-template-columns: 700px 160px;
}
.btnRecording {
    grid-row: 1;
    display: grid;
    font-family: $fontFamily;
    font-size: 16px;
    grid-column: 2;
    justify-self: left;
    width: 144px;
    height: 36px;
    padding-top: 9px;
    margin-top: 21px;
    background: #ff6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
    color: #ffffff;
}
.btnCamera {
    display: grid;
    grid-column: 1;
    justify-self: right;
    width: 36px;
    height: 36px;
    margin-top: 21px;
    background: #ee3efe;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    img {
        width: 18px;
        height: 16.5px;
        margin-top: 8px;
        margin-left: 2px;
    }
}
.btnCapture {
    display: grid;
    grid-column: 2;
    justify-self: left;
    font-family: $fontFamily;
    font-size: 16px;
    color: #ffffff;
    width: 144px;
    height: 36px;
    padding-top: 9px;
    margin-top: 21px;
    background: #ee3efe;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}

.btnImgRecording {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    justify-self: right;
    width: 36px;
    height: 36px;
    background: #ff6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
    margin-top: 21px;
    img {
        margin-left: 2px;
        margin-top: 8px;
        width: 18px;
        height: 16.5px;
    }
}
.timer {
    display: flex;
    grid-row: 1;
    grid-column: 1;
    width: 124px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    margin: 21px 0 16px 11px;
    span {
        justify-self: center;
        align-self: center;
        font-family: $fontFamily;
        padding: 7px 13px 7px 21px;
    }
}
.uploadOrRepeatBtns {
    display: grid;
    grid-template-columns: 150px 30px 347px 156px 156px;
    gap: 4px;
}
.repeatBtn {
    font-family: $fontFamily;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    grid-column: 4;
    width: 144px;
    height: 36px;
    margin-top: 21px;
    background: #110038;
    border: 1px solid #b4b4b4;
    box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
}
.repeatBtn:hover {
    background: #110038;
    border: 1px solid #b4b4b4;
    box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
    outline: 1px #ffffff dotted;
    outline-offset: -4px;
}
.uploadBtn {
    font-family: $fontFamily;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    grid-column: 5;
    width: 144px;
    height: 36px;
    margin-top: 21px;
    margin-right: 16px;
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}
.timer {
    grid-column: 1;
}
.btnPlay {
    grid-column: 2;
    width: 20px;
    height: 20px;
    justify-self: end;
    align-self: center;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    img {
        margin: 1px;
    }
}

.progressBarContainer {
    width: 240px;
    height: 26px;
    padding: 1px;
    display: flex;
    margin-top: 23px;
    box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #ffffff;
    justify-content: center;
    align-content: center;
}
.progressBar {
    width: 236px;
    height: 22px;
    // margin-left: 4px;
    // align-self: center;
    #myProgress {
        width: 100%;
        background: repeating-linear-gradient(90deg, #b4b4b4 38px, #b4b4b4 40px, #979797 30px, #979797 70px);
    }

    #myBar {
        width: 1%;
        height: 20px;
        margin-top: 1.5px;
        background: repeating-linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 38px,
            rgba(0, 0, 0, 0) 40px,
            #EE3EFE 30px,
            #EE3EFE 70px
        );
    }
}
.uploadingScreen {
    width: 838px;
    height: 440px;
    margin-top: 8px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    img {
        justify-self: center;
        align-self: center;
    }
    h4 {
        align-self: center;
        font-family: $fontFamily;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
        margin-bottom: 39px;
        margin-top: 8px;
    }
    h6 {
        font-family: $fontFamily;
        font-size: 12px;
        color: #11003864;
        letter-spacing: 0;
        text-align: center;
        line-height: 14px;
        margin-top: 10px;
        span {
            text-decoration: line-through;
        }
    }
}
.screenProgressBar {
    display: inline-flex;
    justify-content: center;
    width: 245px;
    height: 28px;
}

.btnCancell {
    grid-column: 5;
    width: 144px;
    height: 36px;
    margin-top: 21px;
    margin-right: 14px;
    font-family: $fontFamily;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    background: #fff4fd;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}
.success {
    width: 721px;
    height: 391px;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 25px 223px 144px;
    background: #b4b4b4;
    box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}
.titleBarSuccess {
    justify-self: start;
    background-image: $gradient;
    margin-top: 1px;
    margin-left: 3px;
    padding-left: 7px;
    padding-top: 6.4px;
    width: 715px;
    height: 24px;
    p {
        margin: 0px;
        font-family: $fontFamily;
        font-weight: bold;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 0;
    }
}
.miniPreview {
    width: 371px;
    height: 196px;
    grid-column: 1;
    grid-row: 2;
    margin-top: 27px;
    margin-left: 24px;
    background: #ffffff;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    img {
        width: 368px;
        height: 193px;
    }
}
.btnsCopyAndDownload {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(3, 36px);
    justify-content: center;
    gap: 14px;
    margin-top: 30px;
    h4 {
        font-family: $fontFamily;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        margin: 0px;
        align-self: end;
    }
}
.copyGif {
    width: 256px;
    height: 36px;
    grid-row: 2;
    font-family: $fontFamily;
    align-self: end;
    background: #fff4fd;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}
.downloadGif {
    width: 256px;
    height: 36px;
    grid-row: 3;
    font-family: $fontFamily;
    background: #fff4fd;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}
.done {
    display: flex;
    text-decoration: none;
    color: #000000;
    align-content: center;
    justify-content: center;
    width: 144px;
    height: 36px;
    grid-column: 2;
    grid-row: 3;
    margin-left: 139px;
    margin-top: 64px;
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    span {
        margin-top: 9px;
        font-family: $fontFamily;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
    }
}
#checkCapture {
    display: none;
}
#recordBtns {
    display: none;
}
#preview {
    display: none;
}
#uploadOrRepeatBtns {
    display: none;
}
#captureTwo {
    display: none;
}
#captureFive {
    display: none;
}
#captureSix {
    display: none;
}

.createBtnBar {
    display: grid;
    grid-template-columns: repeat(3, 228px);
    gap: 16px;
    .button {
        font-family: $fontFamily;
        width: 131px;
        height: 36px;
        margin: 44px 0 0 16px;
        background-color: $color-button;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
    .btnCreateGifsCancell {
        justify-self: end;
        align-self: center;
        width: 144px;
        height: 36px;
        grid-column: 2/3;
        color: #ffffff;
        background: #110038;
        border: 1px solid #b4b4b4;
        box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
        font-family: $fontFamily;
    }
    .btnCreateGifsCancell:hover {
        outline: 1px #ffffff dotted;
        outline-offset: -4px;
    }
    .btnCreateGifsStart {
        justify-self: start;
        align-self: center;
        width: 144px;
        height: 36px;
        grid-column: 3/4;
        color: #ffffff;
        background: #ee3efe;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        font-family: $fontFamily;
    }
    .btnCreateGifsStart:hover {
        background: #ce36db;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
        outline: 1px #110038 dotted;
        outline-offset: -4px;
    }
}

//crear guifos
#captureOne {
    padding-left: 378px;
    margin-bottom: 150px;
}
#captureTwo {
    padding-left: 265px;
    margin-bottom: 150px;
}

#captureFive {
    padding-left: 265px;
    margin-bottom: 150px;
}
#captureSix {
    padding-left: 360px;
    margin-bottom: 150px;
}
.transparent {
    background-color: #ffffff00;
    color: #ffffff00;
    border: none;
}
