.wrapperSugestions {
    display: grid;
    grid-template-columns: repeat(4, 288px);
    grid-template-rows: repeat(1, 313px);
    gap: 16px;
    justify-content: center;
}

.sectionTitle {
    font-family: $fontFamily;
    font-size: 14px;
    display: flex;
    justify-self: center;
    padding: 7px;
    margin: 64px auto 19px 75px;
    width: 1195px;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}

.gifFrame {
    display: flex;
    justify-content: center;
    width: 286px;
    height: 298px;
    height: 313px;
    background: #b4b4b4;
    box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
    position: relative;
    z-index: 1;

    figcaption {
        width: 280px;
        height: 24px;
        margin-top: 3px;
        margin-bottom: 2px;
        background-image: $gradient;
        font-family: $fontFamily;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #ffffff;
        font-size: 14px;
        grid-row: 1;
        justify-self: center;
    }
    figure {
        width: 286px;
        height: 289px;
        margin: 0px;
        position: absolute;
        z-index: 2;
        display: grid;
        grid-template-rows: 24px 289px;
        gap: 5px;
    }
    img {
        width: 280px;
        height: 280px;
        position: absolute;
        z-index: 3;
        grid-row: 2;
        justify-self: center;
    }
    img:hover {
        outline: 1px #110038 dotted;
        outline-offset: -1px;
    }
    .close {
        justify-self: end;
        height: 16px;
        margin: 0;
        width: 16px;
        grid-row: 1;
        margin: 7px;
    }
    // .btnClose {
    //     z-index: 5;
    //     background-color: none;
    //     justify-self: end;
    //     height: 16px;
    //     margin: 0;
    //     width: 16px;
    //     grid-row: 1;
    //     margin: 7px;
    // }

    button {
        font-family: $fontFamily;
        font-size: 14px;
        color: #ffffff;
        background-color: #4180f6;
        border: 1px solid #4c2f99;
        box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
        width: 81px;
        height: 34px;
        position: absolute;
        margin-top: 260px;
        margin-left: 11px;
        z-index: 4;
    }
    button:hover {
        outline: 1px #110038 dotted;
        outline-offset: -6px;
    }
}
