.sectionMisGuifos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperMyGifs {
    display: grid;
    grid-template-columns: repeat(4, 288px);
    grid-template-rows: auto;
    gap: 16px;
    margin-left: 75px;
}
.myGifos {
    width: 280px;
    height: 280px;
    background-color: #80687d;
}