* {
    box-sizing: border-box;
}

body {
    background-color: #110038;
}

$color-button: #f7c9f3;
$fontFamily: "Chakra Petch", sans-serif;
$gradient: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
$boxShadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;

//Barra superior
// @import ;
@import "night_BarraHome";
//Header
@import "night_header";

//Seccionsuggestions
@import "night_sectionSuggestions";

//Seccion tendencias
@import "night_sectionTrending";

//Seccion Crear guifos
@import "night_sectionCreateGif";

//Seccion resultados de busqueda
@import "night_searchResults";

//Seccion busqueda
@import "night_sectionSearch";

//Seccion Mis guifos
@import "night_sectionMisGuifos";

.wideGif {
    width: 586px;
    grid-column: span 2;
    img {
        width: 582px;
    }
    figure {
        width: 582px;
        height: 298px;
    }
    figure:hover {
        display: grid;
        grid-template-rows: 274px 24px;
        width: 587px;
        height: 304px;
        background: #b4b4b4;
        box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
        outline: 1px #110038 dotted;
        outline-offset: -4px;
        figcaption {
            grid-row: 2;
            width: 578px;
            height: 22px;
            margin: 0px;
            background-image: $gradient;
            font-family: $fontFamily;
            color: #ffffff;
            font-size: 14px;
            z-index: 5;
            align-self: normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        img {
            width: 578px;
            height: 286px;
            grid-row: 1;
            z-index: 4;
            align-self: baseline;
        }
    }
}
