* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1400px) {
  body {
    background-color: #110038;
  }
  .bar {
    background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    -webkit-box-shadow: 0 1px 0 0 #110038;
            box-shadow: 0 1px 0 0 #110038;
    font-family: "Chakra Petch", sans-serif;
    font-size: 12px;
    color: #ffffff;
    padding: 3px 0px 4px 7px;
    margin: 1px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .themeSelector {
    font-family: "Chakra Petch", sans-serif;
    display: none;
    position: absolute;
    width: 167px;
    height: 102px;
    background: #b4b4b4;
    -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
  }
  .themeSelector a {
    text-decoration: none;
    color: #000000;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    min-width: 150px;
    height: 36px;
    background-color: #cccccc;
    border: 1px solid #808080;
    -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  }
  .themeSelector a:active {
    color: #110038;
    background-color: #fff4fd;
    border: 1px solid #cca6c9;
    -webkit-box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
  }
  .day {
    padding: 7px 56px 7px 16px;
  }
  .nigth {
    padding: 7px 40px 7px 16px;
    margin-top: 5px;
  }
  .nigth:hover {
    color: #ffffff;
    background: #2e32fb;
    border: 1px solid rgba(51, 53, 143, 0.2);
    -webkit-box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
  }
  .nigth:hover span {
    text-decoration: underline;
  }
  .day:hover {
    color: #ffffff;
    background: #2e32fb;
    border: 1px solid rgba(51, 53, 143, 0.2);
    -webkit-box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
  }
  .day:hover span {
    text-decoration: underline;
  }
  .button_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: "Chakra Petch", sans-serif;
  }
  .button_bar img {
    margin: 35px 0 0 91px;
  }
  .button_bar button {
    font-family: "Chakra Petch", sans-serif;
    color: #ffffff;
    width: 131px;
    height: 36px;
    margin: 44px 0 0 16px;
    background-color: #ee3efe;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  }
  .button_bar button:hover {
    padding: 2px;
    border: 1px solid #110038;
    outline: 1px #110038 dotted;
    outline-offset: -6px;
    background: #ce36db;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  }
  .button_bar .goDown {
    font-family: "Chakra Petch", sans-serif;
    margin-left: -4px;
    width: 36px;
    height: 36px;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
  .button_bar .special {
    border: none;
    background-color: #110038;
    color: #ffffff;
    margin-left: 16.5px;
    margin-right: 75px;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-decoration: none;
  }
  .button_bar .special span {
    text-decoration: underline;
  }
  .button_bar .special:hover {
    outline: 1px #ffffff dotted;
    outline-offset: 6px;
  }
  .button_bar .special:active {
    color: #ffffff65;
    outline: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .show {
    margin-left: 16px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50%;
        grid-template-rows: 50%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-column-gap: 2px;
            column-gap: 2px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
  }
  .day {
    padding: 7px 56px 7px 16px;
  }
  .nigth {
    padding: 7px 40px 7px 16px;
    margin-top: 5px;
  }
  .nigth:hover {
    color: #ffffff;
    background: #2e32fb;
    border: 1px solid rgba(51, 53, 143, 0.2);
    -webkit-box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
  }
  .nigth:hover span {
    text-decoration: underline;
  }
  .day:hover {
    color: #ffffff;
    background: #2e32fb;
    border: 1px solid rgba(51, 53, 143, 0.2);
    -webkit-box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
  }
  .day:hover span {
    text-decoration: underline;
  }
  .btnGoCreate:hover {
    padding: 2px;
    background: #e6bbe2;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    outline: 1px #110038 dotted;
    outline-offset: -6px;
  }
  .btnGoCreate:active {
    background-color: #e6bbe2;
    outline: 1px #110038 dotted;
    outline-offset: -6px;
  }
  .wrapperSugestions {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (288px)[4];
        grid-template-columns: repeat(4, 288px);
    -ms-grid-rows: (313px)[1];
        grid-template-rows: repeat(1, 313px);
    gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sectionTitle {
    font-family: "Chakra Petch", sans-serif;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    padding: 7px;
    margin: 64px auto 19px 75px;
    width: 1195px;
    background: #fffafe;
    border: 1px solid #2e32fb;
    -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
            box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
  }
  .gifFrame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 286px;
    height: 298px;
    height: 313px;
    background: #b4b4b4;
    -webkit-box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
    position: relative;
    z-index: 1;
  }
  .gifFrame figcaption {
    width: 280px;
    height: 24px;
    margin-top: 3px;
    margin-bottom: 2px;
    background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    font-family: "Chakra Petch", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    font-size: 14px;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .gifFrame figure {
    width: 286px;
    height: 289px;
    margin: 0px;
    position: absolute;
    z-index: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 24px 289px;
        grid-template-rows: 24px 289px;
    gap: 5px;
  }
  .gifFrame img {
    width: 280px;
    height: 280px;
    position: absolute;
    z-index: 3;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .gifFrame img:hover {
    outline: 1px #110038 dotted;
    outline-offset: -1px;
  }
  .gifFrame .close {
    -ms-grid-column-align: end;
        justify-self: end;
    height: 16px;
    margin: 0;
    width: 16px;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 7px;
  }
  .gifFrame button {
    font-family: "Chakra Petch", sans-serif;
    font-size: 14px;
    color: #ffffff;
    background: #2e32fb;
    border: 1px solid #4c2f99;
    -webkit-box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
    width: 81px;
    height: 34px;
    position: absolute;
    margin-top: 260px;
    margin-left: 11px;
    z-index: 4;
  }
  .gifFrame button:hover {
    background: #2629cc;
    border: 1px solid #4c2f99;
    -webkit-box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
    outline: 1px #110038 dotted;
    outline-offset: -6px;
  }
  .wrapperTrend {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (286px)[4];
        grid-template-columns: repeat(4, 286px);
    -ms-grid-rows: (298px)[3];
        grid-template-rows: repeat(3, 298px);
    gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #trending {
    margin-bottom: 150px;
  }
  .gifTrend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 286px;
    height: 298px;
    z-index: 1;
  }
  .gifTrend figure {
    width: 288px;
    height: 298px;
    margin: 0px;
    z-index: 2;
  }
  .gifTrend figcaption {
    display: none;
  }
  .gifTrend figure:hover {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 274px 24px;
        grid-template-rows: 274px 24px;
    background: #b4b4b4;
    -webkit-box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
    padding: 4px;
    width: 294px;
    height: 304px;
    outline: 1px #110038 dotted;
    outline-offset: -4px;
  }
  .gifTrend figure:hover figcaption {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    grid-row: 2;
    width: 286px;
    height: 22px;
    margin: 0px;
    background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    font-family: "Chakra Petch", sans-serif;
    color: #ffffff;
    font-size: 14px;
    z-index: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .gifTrend figure:hover img {
    width: 286px;
    height: 296px;
    -ms-grid-row: 1;
    grid-row: 1;
    z-index: 4;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .gifTrend img {
    width: 286px;
    height: 296px;
    -ms-grid-row: 1;
    grid-row: 1;
    z-index: 4;
  }
  #createHeader #arrow {
    margin-left: 60px;
    margin-top: 55px;
    width: 24px;
    height: 24px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  #createHeader #logo {
    margin-top: 35px;
    margin-bottom: 75px;
    width: 102.6px;
    height: 64px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  #createHeader div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6.5% 10%;
        grid-template-columns: 6.5% 10%;
    gap: 7px;
  }
  .createGif {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    -ms-grid-rows: 10% 15%;
        grid-template-rows: 10% 15%;
    width: 684px;
    height: 386px;
    background: #b4b4b4;
    -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
  }
  .titleBar {
    -ms-grid-column-align: start;
        justify-self: start;
    background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    margin-top: 1px;
    margin-left: 3px;
    padding-left: 7px;
    padding-top: 3.4px;
    width: 678px;
    height: 24px;
  }
  .titleBar p {
    margin: 0px;
    font-family: "Chakra Petch";
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
  }
  .instructionsTitle {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .instructionsTitle img {
    width: 32px;
    height: 32px;
    margin-left: 25px;
    margin-right: 16px;
    margin-top: 10px;
  }
  .instructionsTitle h3 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
  }
  .instructions {
    width: 518px;
    height: 190px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-right: 93px;
    margin-left: 73px;
  }
  .instructions h6 {
    margin: 0px;
    font-family: "Chakra Petch";
    font-weight: normal;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    line-height: 20px;
  }
  .instructions span {
    font-weight: bold;
  }
  .italic {
    font-style: italic;
  }
  .recordGif {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 24px 451px 73px;
        grid-template-rows: 24px 451px 73px;
    width: 860px;
    height: 548px;
    background: #b4b4b4;
    -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
  }
  .titleBarWide {
    -ms-grid-column-align: start;
        justify-self: start;
    background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    margin-top: 1px;
    margin-left: 3px;
    padding-left: 7px;
    padding-top: 3.4px;
    width: 855px;
    height: 24px;
  }
  .titleBarWide p {
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
  }
  .preview {
    margin-left: 8px;
    margin-top: 8px;
    background: #ffffff;
    border: 1px solid #979797;
    -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
            box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    width: 832px;
    height: 434px;
  }
  .preview video {
    width: 832px;
    height: 434px;
    background: #ffffff;
    border: 1px solid #979797;
    -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
            box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  }
  .preview img {
    height: 428px;
    width: 826px;
    margin: 2px;
  }
  #recordContainer {
    display: block;
  }
  .recordBtns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 700px 160px;
        grid-template-columns: 700px 160px;
  }
  .btnRecording {
    -ms-grid-row: 1;
    grid-row: 1;
    display: -ms-grid;
    display: grid;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-column-align: left;
        justify-self: left;
    width: 144px;
    height: 36px;
    padding-top: 9px;
    margin-top: 21px;
    background: #ff6161;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
    color: #ffffff;
  }
  .btnCamera {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-align: right;
        justify-self: right;
    width: 36px;
    height: 36px;
    margin-top: 21px;
    background: #ee3efe;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  }
  .btnCamera img {
    width: 18px;
    height: 16.5px;
    margin-top: 8px;
    margin-left: 2px;
  }
  .btnCapture {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-column-align: left;
        justify-self: left;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #ffffff;
    width: 144px;
    height: 36px;
    padding-top: 9px;
    margin-top: 21px;
    background: #ee3efe;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  }
  .btnImgRecording {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: right;
        justify-self: right;
    width: 36px;
    height: 36px;
    background: #ff6161;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
    margin-top: 21px;
  }
  .btnImgRecording img {
    margin-left: 2px;
    margin-top: 8px;
    width: 18px;
    height: 16.5px;
  }
  .timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    width: 124px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #979797;
    -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
            box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    margin: 21px 0 16px 11px;
  }
  .timer span {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: "Chakra Petch", sans-serif;
    padding: 7px 13px 7px 21px;
  }
  .uploadOrRepeatBtns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 30px 347px 156px 156px;
        grid-template-columns: 150px 30px 347px 156px 156px;
    gap: 4px;
  }
  .repeatBtn {
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    -ms-grid-column: 4;
    grid-column: 4;
    width: 144px;
    height: 36px;
    margin-top: 21px;
    background: #110038;
    border: 1px solid #b4b4b4;
    -webkit-box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
            box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
  }
  .repeatBtn:hover {
    background: #110038;
    border: 1px solid #b4b4b4;
    -webkit-box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
            box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
    outline: 1px #ffffff dotted;
    outline-offset: -4px;
  }
  .uploadBtn {
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    -ms-grid-column: 5;
    grid-column: 5;
    width: 144px;
    height: 36px;
    margin-top: 21px;
    margin-right: 16px;
    background: #f7c9f3;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
  .timer {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .btnPlay {
    -ms-grid-column: 2;
    grid-column: 2;
    width: 20px;
    height: 20px;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background: #EE3EFE;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
  .btnPlay img {
    margin: 1px;
  }
  .progressBarContainer {
    width: 240px;
    height: 26px;
    padding: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 23px;
    -webkit-box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #ffffff;
            box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .progressBar {
    width: 236px;
    height: 22px;
  }
  .progressBar #myProgress {
    width: 100%;
    background: repeating-linear-gradient(90deg, #b4b4b4 38px, #b4b4b4 40px, #979797 30px, #979797 70px);
  }
  .progressBar #myBar {
    width: 1%;
    height: 20px;
    margin-top: 1.5px;
    background: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0) 38px, rgba(0, 0, 0, 0) 40px, #EE3EFE 30px, #EE3EFE 70px);
  }
  .uploadingScreen {
    width: 838px;
    height: 440px;
    margin-top: 8px;
    margin-left: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #ffffff;
    border: 1px solid #979797;
    -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
            box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  }
  .uploadingScreen img {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .uploadingScreen h4 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin-bottom: 39px;
    margin-top: 8px;
  }
  .uploadingScreen h6 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 12px;
    color: #11003864;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    margin-top: 10px;
  }
  .uploadingScreen h6 span {
    text-decoration: line-through;
  }
  .screenProgressBar {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 245px;
    height: 28px;
  }
  .btnCancell {
    -ms-grid-column: 5;
    grid-column: 5;
    width: 144px;
    height: 36px;
    margin-top: 21px;
    margin-right: 14px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    background: #fff4fd;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
  .success {
    width: 721px;
    height: 391px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% 45%;
        grid-template-columns: 55% 45%;
    -ms-grid-rows: 25px 223px 144px;
        grid-template-rows: 25px 223px 144px;
    background: #b4b4b4;
    -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
  }
  .titleBarSuccess {
    -ms-grid-column-align: start;
        justify-self: start;
    background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    margin-top: 1px;
    margin-left: 3px;
    padding-left: 7px;
    padding-top: 6.4px;
    width: 715px;
    height: 24px;
  }
  .titleBarSuccess p {
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
  }
  .miniPreview {
    width: 371px;
    height: 196px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: 27px;
    margin-left: 24px;
    background: #ffffff;
    border: 1px solid #979797;
    -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
            box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  }
  .miniPreview img {
    width: 368px;
    height: 193px;
  }
  .btnsCopyAndDownload {
    -ms-grid-row: 2;
    grid-row: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (36px)[3];
        grid-template-rows: repeat(3, 36px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 14px;
    margin-top: 30px;
  }
  .btnsCopyAndDownload h4 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0px;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .copyGif {
    width: 256px;
    height: 36px;
    -ms-grid-row: 2;
    grid-row: 2;
    font-family: "Chakra Petch", sans-serif;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    background: #fff4fd;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
  .downloadGif {
    width: 256px;
    height: 36px;
    -ms-grid-row: 3;
    grid-row: 3;
    font-family: "Chakra Petch", sans-serif;
    background: #fff4fd;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
  .done {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    color: #000000;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 144px;
    height: 36px;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    margin-left: 139px;
    margin-top: 64px;
    background: #f7c9f3;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
  .done span {
    margin-top: 9px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
  }
  #checkCapture {
    display: none;
  }
  #recordBtns {
    display: none;
  }
  #preview {
    display: none;
  }
  #uploadOrRepeatBtns {
    display: none;
  }
  #captureTwo {
    display: none;
  }
  #captureFive {
    display: none;
  }
  #captureSix {
    display: none;
  }
  .createBtnBar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (228px)[3];
        grid-template-columns: repeat(3, 228px);
    gap: 16px;
  }
  .createBtnBar .button {
    font-family: "Chakra Petch", sans-serif;
    width: 131px;
    height: 36px;
    margin: 44px 0 0 16px;
    background-color: #f7c9f3;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
  .createBtnBar .btnCreateGifsCancell {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 144px;
    height: 36px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    color: #ffffff;
    background: #110038;
    border: 1px solid #b4b4b4;
    -webkit-box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
            box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
    font-family: "Chakra Petch", sans-serif;
  }
  .createBtnBar .btnCreateGifsCancell:hover {
    outline: 1px #ffffff dotted;
    outline-offset: -4px;
  }
  .createBtnBar .btnCreateGifsStart {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 144px;
    height: 36px;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    color: #ffffff;
    background: #ee3efe;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    font-family: "Chakra Petch", sans-serif;
  }
  .createBtnBar .btnCreateGifsStart:hover {
    background: #ce36db;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    outline: 1px #110038 dotted;
    outline-offset: -4px;
  }
  #captureOne {
    padding-left: 378px;
    margin-bottom: 150px;
  }
  #captureTwo {
    padding-left: 265px;
    margin-bottom: 150px;
  }
  #captureFive {
    padding-left: 265px;
    margin-bottom: 150px;
  }
  #captureSix {
    padding-left: 360px;
    margin-bottom: 150px;
  }
  .transparent {
    background-color: #ffffff00;
    color: #ffffff00;
    border: none;
  }
  .results {
    padding-left: 100px;
  }
  .sectionTitleR {
    font-family: "Chakra Petch", sans-serif;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    padding: 7px;
    width: 1195px;
    background: #fffafe;
    border: 1px solid #2e32fb;
    -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
            box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
  }
  #results {
    display: none;
    padding-left: 75px;
    margin-bottom: 150px;
  }
  .resultContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (288px)[4];
        grid-template-columns: repeat(4, 288px);
    -ms-grid-rows: (300px)[3];
        grid-template-rows: repeat(3, 300px);
    gap: 17px;
  }
  .gifResult {
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 286px;
    height: 298px;
    z-index: 1;
  }
  .gifResult figure {
    width: 288px;
    height: 298px;
    margin: 0px;
    z-index: 2;
  }
  .gifResult figcaption {
    display: none;
  }
  .gifResult figure:hover {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 274px 24px;
        grid-template-rows: 274px 24px;
    background-color: #e6e6e6;
    -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    padding: 4px;
    width: 294px;
    height: 304px;
    outline: 1px #110038 dotted;
    outline-offset: -4px;
  }
  .gifResult figure:hover figcaption {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    grid-row: 2;
    width: 286px;
    height: 22px;
    margin: 0px;
    background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    font-family: "Chakra Petch", sans-serif;
    color: #ffffff;
    font-size: 14px;
    z-index: 5;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .gifResult figure:hover img {
    width: 286px;
    height: 296px;
    -ms-grid-row: 1;
    grid-row: 1;
    z-index: 4;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .gifResult img {
    width: 286px;
    height: 296px;
    -ms-grid-row: 1;
    grid-row: 1;
    z-index: 4;
  }
  #showHashtags {
    display: none;
    -ms-grid-columns: (100px)[9];
        grid-template-columns: repeat(9, 100px);
    gap: 8px;
    margin-top: 8px;
    margin-left: 75px;
    margin-bottom: 54px;
  }
  #showHashtags div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100px;
    height: 34px;
    background: #2e32fb;
    border: 1px solid #4c2f99;
    -webkit-box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
  }
  #showHashtags div span {
    font-family: "Chakra Petch", sans-serif;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 18px;
    margin-left: 7px;
    margin-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #showHashtags .divWide {
    grid-column: span 2;
    width: 200px;
  }
  .search {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 90% 10%;
        grid-template-columns: 90% 10%;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    width: 1200px;
    background: #b4b4b4;
    -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
    padding-bottom: 12px;
    margin-left: 75px;
    margin-right: 130px;
    margin-top: 16px;
  }
  .search p {
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    padding-left: 6px;
    padding-top: 4px;
    width: 1200px;
    height: 24px;
    margin-top: 0px;
    background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    -webkit-box-shadow: inset 2px 2px 0 0 #ffffff;
            box-shadow: inset 2px 2px 0 0 #ffffff;
  }
  .search input {
    width: 1050px;
    height: 48px;
    background: #ffffff;
    border: 1px solid #979797;
    -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
            box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    margin-left: 15px;
    -ms-grid-row: 2;
    grid-row: 2;
    width: 98%;
  }
  .search input:active {
    background: #ffffff;
    border: 1px solid #979797;
    -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
            box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  }
  .search img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }
  .btnInactive {
    -ms-grid-row: 2;
    grid-row: 2;
    width: 102px;
    height: 36px;
    margin-top: 6px;
    color: #ffffff;
    background: #b4b4b4;
    border: 1px solid #808080;
    -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  }
  .btnInactive span {
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #8f8f8f;
    letter-spacing: 0;
    line-height: 18px;
    padding: 9px 14px 9px 0px;
  }
  .btnActive {
    -ms-grid-row: 2;
    grid-row: 2;
    width: 102px;
    height: 36px;
    margin-top: 6px;
    color: #ffffff;
    background: #ee3efe;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  }
  .btnActive span {
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 18px;
    padding: 9px 14px 9px 0px;
  }
  .btnActive:hover {
    -ms-grid-row: 2;
    grid-row: 2;
    width: 102px;
    height: 36px;
    margin-top: 6px;
    background: #ce36db;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    outline: 1px #110038 dotted;
    outline-offset: -4px;
  }
  .btnActive:hover span {
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 18px;
    padding: 9px 14px 9px 0px;
  }
  .btnActive:hover img {
    color: #000000;
  }
  #searchSuggestions {
    display: none;
    gap: 10px;
    width: 1200px;
    height: 160px;
    padding-top: 16px;
    padding-right: 127px;
    padding-bottom: 16px;
    background: #b4b4b4;
    -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
    margin-left: 75px;
  }
  #searchSuggestions div {
    margin-left: 15px;
    width: 1052px;
    height: 36px;
    background: #cccccc;
    border: 1px solid #808080;
    -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  }
  #searchSuggestions div p {
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    margin: 6px auto 6px 15px;
  }
  #searchSuggestions div:hover {
    outline: 1px #110038 dotted;
    outline-offset: -4px;
    background: #dbdbdb;
    border: 1px solid #808080;
    -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
            box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  }
  #showSearchSuggestions {
    display: none;
  }
  .sectionMisGuifos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapperMyGifs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (288px)[4];
        grid-template-columns: repeat(4, 288px);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .myGifos {
    width: 280px;
    height: 280px;
    background-color: #80687d;
  }
  .wideGif {
    width: 586px;
    grid-column: span 2;
  }
  .wideGif img {
    width: 582px;
  }
  .wideGif figure {
    width: 582px;
    height: 298px;
  }
  .wideGif figure:hover {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 274px 24px;
        grid-template-rows: 274px 24px;
    width: 587px;
    height: 304px;
    background: #b4b4b4;
    -webkit-box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
            box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
    outline: 1px #110038 dotted;
    outline-offset: -4px;
  }
  .wideGif figure:hover figcaption {
    -ms-grid-row: 2;
    grid-row: 2;
    width: 578px;
    height: 22px;
    margin: 0px;
    background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    font-family: "Chakra Petch", sans-serif;
    color: #ffffff;
    font-size: 14px;
    z-index: 5;
    -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .wideGif figure:hover img {
    width: 578px;
    height: 286px;
    -ms-grid-row: 1;
    grid-row: 1;
    z-index: 4;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
}
/*# sourceMappingURL=darkMode.css.map */